.footer{
    border-top: 2px solid #000;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'footer1 footer2';
    background: #f7f8fb;
    padding-right: 50px;
    padding-left:50px;
    padding-top: 40px;
}
.footerTitles1{
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerTitles2{
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerTitles1:hover{
    color: #0000006e;
}
.footerTitles2:hover{
    color: #0000006e;
}
.footerBlock1{
    display: grid;
    grid-area: footer1;
}
.footerBlock2{
    margin-top: 50px;
    display: grid;
    grid-area: footer1;
}
.footerBlock3{
    display: grid;
    justify-content: end;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    grid-area: footer2;
}
.footerBlock4{
    display: grid;
    justify-content: end;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
    grid-area: footer2;
}
.footerBlock6{
    display: grid;
    justify-content: end;

}
.footerTitles3{
    cursor: default;
    color: #0000006e;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footerTitles4{
    text-decoration: underline;
    cursor: default;
    color: #0000006e;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* img */
.footerImages1{
    cursor: pointer;
}
.footerImages2{
    cursor: pointer;
}
.footerImages3{
    cursor: pointer;
}
.footerImages4{
    cursor: pointer;
}
.footerImages5{
    cursor: pointer;
}
.footerImages6{
    cursor: pointer;
}
.footerImages7{
    cursor: pointer;
}
.footerImages8{
    cursor: pointer;
}
@media(max-width:600px){
    .footerBlock3{
        grid-template-columns: auto auto;
        align-content: space-between;
        display: none;
    }
    .footerBlock4{
        margin-top: -10px;
        grid-template-columns: auto auto;
    }
    .footerTitles4{
        font-size: 17px;
    }
    .footerTitles3{
        font-size: 17px;
    }
}
@media(max-width:524px){
    .footerBlock3{
        grid-template-columns: auto auto;
        align-content: space-between;
        display: none;
    }
    .footerBlock4{
        margin-top: -10px;
        grid-template-columns: auto auto;
    }
    .footerTitles4{
        font-size: 15px;
    }
    .footerTitles3{
        font-size: 15px;
    }
}
@media(max-width:481px){
    .footerTitles2{
        font-size: 18px;
    }
    .footerTitles1{
        font-size: 18px;
    }
}
@media(max-width:440px){
    .footer {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 40px;
    }
}
@media(max-width:377px){
    .footer {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 40px;
    }
}
@media(max-width:357px){
    .footer {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 40px;
    }
    .footerTitles2{
        font-size: 16px;
    }
    .footerTitles1{
        font-size: 16px;
    }
    .footerTitles4{
        font-size: 13px;
    }
    .footerTitles3{
        font-size: 13px;
    }
}
@media(max-width:329px){
    .footer {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 40px;
    }
    .footerTitles2{
        font-size: 14px;
    }
    .footerTitles1{
        font-size: 14px;
    }
    .footerTitles4{
        font-size: 13px;
    }
    .footerTitles3{
        font-size: 13px;
    }
}