.productsDiv{
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    background:#f7f8fb;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.productsTitles{
    cursor: default;
    display: grid;
    justify-content: center;
    background: #f7f8fb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titlesPro{ 
    cursor: pointer;
    transition: 0.4s;
    color: #000000;
    font-weight: 300;
    padding-left: 50px;
    padding-top: 80px;
    padding-bottom:20px;
    font-size: 40px; 
}
.titlesPro:hover{
    transition: 0.4s;
    text-decoration: underline solid #77DDE7;
}
/* Cards1 */
.productsCards1{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards1:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards1{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards1{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards1:hover{
    text-decoration: underline;
}
.img1Cards1{
    padding-left: 280px;
}
/* Cards2 */
.productsCards2{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards2:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards2{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards2{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards2:hover{
    text-decoration: underline;
}
.img1Cards2{
    padding-left: 280px;
}
/* Cards3 */
.productsCards3{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards3:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards3{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards3{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards3:hover{
    text-decoration: underline;
}
.img1Cards3{
    margin-top: 22px;
    padding-left: 280px;
}
/* Cards4 */
.productsCards4{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards4:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards4{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards4{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards4:hover{
    text-decoration: underline;
}
.img1Cards4{
    padding-left: 280px;
}
/* Cards5 */
.productsCards5{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards5:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards5{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards5{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards5:hover{
    text-decoration: underline;
}
.img1Cards5{
    margin-top: 22px;
    padding-left: 280px;
}
/* Cards6 */
.productsCards6{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 310px;
    height: 410px;
    border: 1px solid black;
    background: #f7f8fb;
    box-shadow: 1px 1px 2px 2px #636161;
    transition: 0.4s;
}
.productsCards6:hover{
    transition: 0.4s;
    box-shadow: 1px 1px 2px 2px rgba(26, 25, 25, 0.877);
}
.imgCards6{
    border-radius: 15px;
    width: 310px;
    height: 256px;
}
.TitlesCards6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextCards6{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextCards6:hover{
    text-decoration: underline;
}
.img1Cards6{
    padding-left: 280px;
}
@media(max-width:1085px){
    .productsDiv{
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto ;
        justify-content: center;
        background:#f7f8fb;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
}
@media(max-width:750px){
    .productsDiv{
        display: grid;
        gap: 20px;
        grid-template-columns: auto;
        justify-content: center;
        background:#f7f8fb;
        padding-left: 50px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
}
@media(max-width:690px){
    .productsDiv{
        display: grid;
        gap: 20px;
        grid-template-columns: auto;
        justify-content: center;
        background:#f7f8fb;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .titlesPro {
        padding-left: 0px;
    }
}
@media(max-width:360px){
    /* cards1 */
    .productsCards1{
        width: 280px;
    }
    .imgCards1{
        width: 280px;
    }
    .img1Cards1 {
        padding-left: 250px;
    }
    /* cards2 */
    .productsCards2{
        width: 280px;
    }
    .imgCards2{
        width: 280px;
    }
    .img1Cards2 {
        padding-left: 250px;
    }
    /* cards3 */
    .productsCards3{
        width: 280px;
    }
    .imgCards3{
        width: 280px;
    }
    .img1Cards3 {
        margin-top: 0px;
        padding-left: 250px;
    }
    /* cards4 */
    .productsCards4{
        width: 280px;
    }
    .imgCards4{
        width: 280px;
    }
    .img1Cards4 {
        padding-left: 250px;
    }
    /* cards5 */
    .productsCards5{
        width: 280px;
    }
    .imgCards5{
        width: 280px;
    }
    .img1Cards5 {
        margin-top: 0px;
        padding-left: 250px;
    }
    /* cards6 */
    .productsCards6{
        width: 280px;
    }
    .imgCards6{
        width: 280px;
    }
    .img1Cards6 {
        padding-left: 250px;
    }
}

@media(max-width:340px){
    /* cards1 */
    .productsCards1{
        width: 260px;
    }
    .imgCards1{
        width: 260px;
    }
    .img1Cards1 {
        padding-left: 230px;
    }
    /* cards2 */
    .productsCards2{
        width: 260px;
    }
    .imgCards2{
        width: 260px;
    }
    .img1Cards2 {
        padding-left: 230px;
    }
    /* cards3 */
    .productsCards3{
        width: 260px;
    }
    .imgCards3{
        width: 260px;
    }
    .img1Cards3 {
        margin-top: 0px;
        padding-left: 230px;
    }
    /* cards4 */
    .productsCards4{
        width: 260px;
    }
    .imgCards4{
        width: 260px;
    }
    .img1Cards4 {
        padding-left: 230px;
    }
    /* cards5 */
    .productsCards5{
        width: 260px;
    }
    .imgCards5{
        width: 260px;
    }
    .img1Cards5 {
        margin-top: 0px;
        padding-left: 230px;
    }
    /* cards6 */
    .productsCards6{
        width: 260px;
    }
    .imgCards6{
        width: 260px;
    }
    .img1Cards6 {
        padding-left: 230px;
    }
}