.CardsBlocks{
    display: none; 
    align-items:center;
    justify-content:center;
    top:0px;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.534);
    opacity: 0;
    animation: ani 1.3s forwards;
}
.anima{
    animation: anim 1.3s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes anim {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
.CardsBlocks1{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock1Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock1Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards1{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocksImage{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton1{
    display: flex;
    justify-content: end;
}
.img1Block1Cards1{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards1{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards1{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards1:hover{ 
    text-decoration: underline;
}
.cardsBlocksTabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cardsTabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cardsTabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cardsTabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cardsTabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cardsTabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cardsTabs3:hover{
    color: #fff;
    transition: 0.4s;
}
/* cards2 */
.CardsBlocks2{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock2Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock2Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards2{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocks1Image{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton2{
    display: flex;
    justify-content: end;
}
.img1Block1Cards2{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards2{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards2{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards2:hover{ 
    text-decoration: underline;
}
.cardsBlocks1Tabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cards2Tabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards2Tabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards2Tabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards2Tabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cards2Tabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cards2Tabs3:hover{
    color: #fff;
    transition: 0.4s;
}
/* cards3 */
.CardsBlocks3{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock3Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock3Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards3{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocks2Image{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton3{
    display: flex;
    justify-content: end;
}
.img1Block1Cards3{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards3{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards3{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards3:hover{ 
    text-decoration: underline;
}
.cardsBlocks2Tabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cards3Tabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards3Tabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards3Tabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards3Tabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cards3Tabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cards3Tabs3:hover{
    color: #fff;
    transition: 0.4s;
}

/* cards4 */
.CardsBlocks4{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock4Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock4Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards4{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocks3Image{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton4{
    display: flex;
    justify-content: end;
}
.img1Block1Cards4{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards4{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards4{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards4:hover{ 
    text-decoration: underline;
}
.cardsBlocks3Tabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cards4Tabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards4Tabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards4Tabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards4Tabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cards4Tabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cards4Tabs3:hover{
    color: #fff;
    transition: 0.4s;
}
/* cards5 */
.CardsBlocks5{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock5Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock5Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards5{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocks4Image{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton4{
    display: flex;
    justify-content: end;
}
.img1Block1Cards5{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards5{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards5{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards5:hover{ 
    text-decoration: underline;
}
.cardsBlocks4Tabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cards5Tabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards5Tabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards5Tabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards5Tabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cards5Tabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cards5Tabs3:hover{
    color: #fff;
    transition: 0.4s;
}
/* cards6 */
.CardsBlocks6{
    cursor: pointer;
    display: flex;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin: 100px;
    background: #f7f8fb;
    height: 80%;
    flex-direction: column;
}
.divBlock6Not{
    cursor: pointer;
    display: flex;
    background:none;
    margin-top: -55px;
    margin-bottom: 20px;
    border: none;
    font-size: 30px;
    color: #fff;
    transition: 0.4s;
}
.divBlock6Not:hover{
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.849);
}
.imgBlock1Cards6{
    border-radius: 20px;
    width: 100%;
    height: 70%;
}
.cardsBlocks5Image{
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.blocksButton5{
    display: flex;
    justify-content: end;
}
.img1Block1Cards6{
    width: 32px;
    height: 24px;
}
.TitlesBlock1Cards6{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.TextBlock1Cards6{
    margin-top: -10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.646);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.TextBlock1Cards6:hover{ 
    text-decoration: underline;
}
.cardsBlocks5Tabs{
    margin-top: -20px;
    gap: 10px;
    display: flex;
}
.cards6Tabs1{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards6Tabs2{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards6Tabs3{
    background: rgba(0, 0, 0, 0.534);
    border-radius: 20px;
    font-size: 21px;
    color: rgb(179, 174, 174);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    transition: 0.4s;
}
.cards6Tabs1:hover{
    color: #fff;
    transition: 0.4s;
}
.cards6Tabs2:hover{
    color: #fff;
    transition: 0.4s;
}
.cards6Tabs3:hover{
    color: #fff;
    transition: 0.4s;
}
@media(max-width:1085px){
}
@media(max-width:750px){
}
@media(max-width:680px){
    .CardsBlocks1 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards1 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
    .CardsBlocks2 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards2 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
    .CardsBlocks3 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards3 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
    .CardsBlocks4 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards4 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
    .CardsBlocks5 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards5 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
    .CardsBlocks6 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 100px;
        background: #f7f8fb;
        height: 50%;
        flex-direction: column;
    }
    .imgBlock1Cards6 {
        border-radius: 20px;
        width: 100%;
        height: 50%;
    }
}
@media(max-width:550px){
    /* cards1 */
    .CardsBlocks1 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .imgBlock1Cards1 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .img1Block1Cards1 {
        margin-top: -30px;
    }
    .TextBlock1Cards1{
        font-size: 17px;
    }
    /* cards2 */
    .CardsBlocks2 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .imgBlock1Cards2 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .img1Block1Cards2 {
        margin-top: -30px;
    }
    .TextBlock1Cards2{
        font-size: 17px;
    }
    /* cards3 */
    .CardsBlocks3 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .imgBlock1Cards3 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .img1Block1Cards3 {
        margin-top: -10px;
    }
    .TextBlock1Cards3{
        font-size: 17px;
    } 
    /* cards4 */
    .CardsBlocks4 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .imgBlock1Cards4 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .img1Block1Cards4 {
        margin-top: -30px;
    }
    .TextBlock1Cards4{
        font-size: 17px;
    }
    /* cards5 */
    .CardsBlocks5 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .imgBlock1Cards5 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .img1Block1Cards5 {
        margin-top: -10px;
    }
    .TextBlock1Cards5{
        font-size: 17px;
    }
    /* cards6 */
    .CardsBlocks6 {
        padding: 20px;
        width: 100%;
        margin: 200px 100px 200px 90px;
        background: #f7f8fb;
        height: 40%;
        flex-direction: column;
    }
    .img1Block1Cards6 {
        margin-top: -10px;
    }
    .imgBlock1Cards6 {
        border-radius: 20px;
        width: 100%;
        height: 40%;
    }
    .TextBlock1Cards6{
        font-size: 17px;
    }
}
@media(max-width:503px){
    .img1Block1Cards3 {
        margin-top: -30px;
    }
    .img1Block1Cards5 {
        margin-top: -30px;
    }
}
@media(max-width:400px){
    .img1Block1Cards1 {
        display: none;
    }
    .img1Block1Cards2 {
        display: none;
    }
    .img1Block1Cards3 {
        display: none;
    }
    .img1Block1Cards4 {
        display: none;
    }
    .img1Block1Cards5 {
        display: none;
    }
    .img1Block1Cards6 {
        display: none;
    }
}